In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# classificador
from sklearn.naive_bayes import GaussianNB

# normalização dos dados
from sklearn.preprocessing import Normalizer

# algoritmo de agrupamento
from sklearn.cluster import KMeans

# Validação do agrupamento
from sklearn.metrics import adjusted_rand_score

# abordagem de divisão de conjunto de treino e teste.
from sklearn.model_selection import train_test_split


database = pd.read_csv("data/dados.csv")
database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 20 columns):
age               2999 non-null int64
job               2999 non-null object
marital           2999 non-null object
education         2999 non-null object
default           2999 non-null object
housing           2999 non-null object
loan              2999 non-null object
contact           2999 non-null object
month             2999 non-null object
day_of_week       2999 non-null object
duration          2999 non-null int64
campaign          2999 non-null int64
pdays             2999 non-null int64
previous          2999 non-null int64
poutcome          2999 non-null object
emp.var.rate      2999 non-null float64
cons.price.idx    2999 non-null float64
cons.conf.idx     2999 non-null float64
euribor3m         2999 non-null float64
nr.employed       2999 non-null float64
dtypes: float64(5), int64(5), object(10)
memory usage: 468.7+ KB

In [2]:
database.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000
mean,39.889296,255.085028,2.526842,962.227743,0.192064,0.079093,93.584553,-40.578226,3.605769,5165.642314
std,10.282229,256.265737,2.556995,187.599866,0.551960,1.559126,0.581162,4.594237,1.739625,74.384632
min,18.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.635000,4963.600000
25%,32.000000,101.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.334000,5099.100000
50%,38.000000,180.000000,2.000000,999.000000,0.000000,1.100000,93.876000,-41.800000,4.857000,5191.000000
75%,47.000000,316.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,88.000000,3643.000000,35.000000,999.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [3]:
obj_df = database.select_dtypes(include=['object']).copy()
obj_df.head()

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome
0,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,nonexistent
1,services,single,high.school,no,no,no,telephone,may,fri,nonexistent
2,services,married,high.school,no,yes,no,telephone,jun,wed,nonexistent
3,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,nonexistent
4,admin.,married,university.degree,no,yes,no,cellular,nov,mon,nonexistent

In [4]:
#Dicionário de dados
list = { "job" :{"unknown":1,"admin.":1,"blue-collar":2,"technician":3,"services":4,"management":5,"retired":6,"self-employed":7,"entrepreneur":8,"unemployed":9,"housemaid":10,"student":11},
         "marital" :{"unknown":1,"married":1, "single":2, "divorced":3},
         "education": {"unknown":6,"basic.4y":1,"basic.6y":2,"basic.9y":3,"high.school":4,"professional.course":5,"university.degree":6},
         "default": {},
         "housing": {"unknown":1,"no":0,"yes":1},
         "loan": {"unknown":0,"no":0,"yes":1},
         "contact": {"cellular":0,"telephone":1},
         "month": {"jan":1,"feb":2,"mar":3,"apr":4,"may":5,"jun":6,"jul":7,"aug":8,"sep":9,"oct":10,"nov":11,"dec":12},
         "day_of_week": {"thu":1,"tue":2,"mon":3,"wed":4,"fri":5},
         "poutcome": {"nonexistent":1,"failure":2,"success":3}
        }

# Substituindo 
database.replace(list, inplace=True)

In [5]:
del database['default']
del database['campaign']
del database['pdays']

In [6]:
display(database)

,age,job,marital,education,housing,loan,contact,month,day_of_week,duration,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,30,2,1,3,1,0,0,5,5,487,0,1,-1.8,92.893,-46.2,1.313,5099.1
1,39,4,2,4,0,0,1,5,5,346,0,1,1.1,93.994,-36.4,4.855,5191.0
2,25,4,1,4,1,0,1,6,4,227,0,1,1.4,94.465,-41.8,4.962,5228.1
3,38,4,1,3,1,0,1,6,5,17,0,1,1.4,94.465,-41.8,4.959,5228.1
4,47,1,1,6,1,0,0,11,3,58,0,1,-0.1,93.200,-42.0,4.191,5195.8
5,32,4,2,6,0,0,0,9,1,128,2,2,-1.1,94.199,-37.5,0.884,4963.6
6,32,1,2,6,1,0,0,9,3,290,0,1,-1.1,94.199,-37.5,0.879,4963.6
7,41,8,1,6,1,0,0,11,3,44,0,1,-0.1,93.200,-42.0,4.191,5195.8
8,31,4,3,5,0,0,0,11,2,68,1,2,-0.1,93.200,-42.0,4.153,5195.8
9,35,2,1,3,0,0,1,5,1,170,0,1,1.1,93.994,-36.4,4.855,5191.0
10,25,4,2,2,1,0,0,7,1,301,0,1,1.4,93.918,-42.7,4.958,5228.1
11,36,7,2,1,0,0,0,7,1,148,0,1,1.4,93.918,-42.7,4.968,5228.1
12,36,1,1,4,0,0,1,5,4,97,0,1,1.1,93.994,-36.4,4.859,5191.0
13,47,2,1,1,1,0,1,6,1,211,0,1,1.4,94.465,-41.8,4.958,5228.1
14,29,1,2,4,0,0,0,5,5,553,0,1,-1.8,92.893,-46.2,1.313,5099.1
15,27,4,2,6,0,0,0,7,4,698,0,1,1.4,93.918,-42.7,4.963,5228.1
16,44,1,3,6,0,0,0,7,4,191,0,1,1.4,93.918,-42.7,4.957,5228.1
17,46,1,3,6,1,0,1,7,3,59,0,1,1.4,93.918,-42.7,4.962,5228.1
18,45,8,1,6,1,1,0,8,3,38,0,1,1.4,93.444,-36.1,4.965,5228.1
19,50,2,1,1,0,1,0,7,2,849,0,1,1.4,93.918,-42.7,4.961,5228.1
20,55,4,1,2,1,0,0,7,2,326,0,1,1.4,93.918,-42.7,4.962,5228.1
21,39,3,3,4,0,0,0,3,3,222,2,3,-1.8,93.369,-34.8,0.639,5008.7
22,29,3,2,6,1,1,0,8,4,626,0,1,1.4,93.444,-36.1,4.967,5228.1
23,40,5,1,4,0,1,0,8,4,119,0,1,1.4,93.444,-36.1,4.965,5228.1
24,44,3,1,5,1,0,1,5,5,388,0,1,1.1,93.994,-36.4,4.864,5191.0
25,38,3,1,5,1,0,0,8,3,479,0,1,1.4,93.444,-36.1,4.965,5228.1
26,36,3,3,5,0,0,1,5,4,446,0,1,1.1,93.994,-36.4,4.856,5191.0
27,28,2,1,2,0,0,0,5,3,68,1,2,-1.8,92.893,-46.2,1.299,5099.1
28,47,1,2,6,0,0,1,5,1,127,0,1,1.1,93.994,-36.4,4.860,5191.0
29,34,1,1,6,0,0,0,8,2,109,0,1,1.4,93.444,-36.1,4.963,5228.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2969,48,4,3,4,1,1,1,5,3,158,0,1,1.1,93.994,-36.4,4.858,5191.0
2970,50,5,1,6,1,0,1,5,4,117,0,1,1.1,93.994,-36.4,4.857,5191.0
2971,40,2,1,2,1,0,1,5,2,211,0,1,1.1,93.994,-36.4,4.857,5191.0
2972,31,1,1,6,0,1,0,7,3,15,0,1,1.4,93.918,-42.7,4.960,5228.1
2973,39,2,1,2,0,0,1,5,4,488,0,1,1.1,93.994,-36.4,4.859,5191.0
2974,38,1,1,4,1,0,0,11,2,67,0,1,-0.1,93.200,-42.0,4.153,5195.8
2975,58,1,3,4,0,0,1,10,1,81,0,1,-0.1,93.798,-40.4,4.794,5195.8
2976,37,3,1,5,0,1,0,7,5,674,0,1,1.4,93.918,-42.7,4.957,5228.1
2977,34,4,1,4,0,0,1,6,2,51,0,1,1.4,94.465,-41.8,4.864,5228.1
2978,35,3,1,4,1,0,0,7,2,740,0,1,1.4,93.918,-42.7,4.962,5228.1
2979,39,8,1,6,1,0,0,11,1,260,0,1,-0.1,93.200,-42.0,4.076,5195.8
2980,78,6,1,3,1,0,1,10,1,321,0,1,-3.4,92.431,-26.9,0.754,5017.5
2981,43,2,2,4,0,1,1,5,1,137,0,1,-1.8,93.876,-40.0,0.699,5008.7
2982,49,3,3,6,1,0,1,11,1,30,0,1,-0.1,93.200,-42.0,4.076,5195.8
2983,32,3,1,5,0,0,1,5,4,293,0,1,1.1,93.994,-36.4,4.858,5191.0
2984,58,8,1,6,0,0,1,6,5,218,0,1,1.4,94.465,-41.8,4.959,5228.1
2985,42,1,1,6,1,0,0,8,4,127,0,1,1.4,93.444,-36.1,4.967,5228.1
2986,32,2,1,5,0,0,1,5,1,1119,0,1,1.1,93.994,-36.4,4.855,5191.0
2987,31,3,1,5,1,0,0,7,4,225,0,1,1.4,93.918,-42.7,4.962,5228.1
2988,45,4,1,5,1,0,0,7,3,19,0,1,1.4,93.918,-42.7,4.962,5228.1
2989,43,2,1,3,1,0,0,5,5,288,1,2,-1.8,92.893,-46.2,1.313,5099.1
2990,53,2,1,1,0,0,0,8,2,76,0,1,1.4,93.444,-36.1,4.968,5228.1
2991,42,1,1,4,1,1,1,7,3,388,0,1,1.4,93.918,-42.7,4.962,5228.1
2992,40,3,1,5,0,0,1,6,5,179,0,1,1.4,94.465,-41.8,4.959,5228.1
2993,41,5,1,6,1,0,0,8,1,172,0,1,1.4,93.444,-36.1,4.962,5228.1
2994,47,2,2,3,0,0,0,5,4,159,0,1,-1.8,92.893,-46.2,1.334,5099.1
2995,53,1,1,6,0,1,1,5,2,37,0,1,1.1,93.994,-36.4,4.856,5191.0
2996,60,6,1,6,1,0,0,10,3,338,0,1,-1.1,94.601,-49.5,1.000,4963.6
2997,32,3,2,6,0,0,0,11,1,485,1,2,-0.1,93.200,-42.0,4.076,5195.8
2998,67,6,1,1,0,0,0,8,3,300,0,1,-1.7,94.027,-38.3,0.898,4991.6

In [7]:
classes = database.poutcome
del_columns = ['duration']
database = database.drop(del_columns, axis=1)
print(database.columns)

Index(['age', 'job', 'marital', 'education', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'previous', 'poutcome', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed'],
      dtype='object')

In [8]:
#dividindo em base de treino e teste
X_train, X_test, y_train, y_test = train_test_split(database, classes, random_state=0)

In [9]:
# normaliza os dados de treino
scaler = Normalizer().fit(X_train)
database = scaler.transform(X_train)

# agrupamento  de dados pelo KMeans
kmeans = KMeans(n_clusters=2, random_state=0)

In [10]:
# Agrupamento dos objetos contidos no conjunto de treino (pode ser o agrupamento do conjunto todo também).
model = kmeans.fit(X_train)

In [11]:
# os rótulos obtidos
print(model.labels_)
print(len(model.labels_))

[0 0 1 ... 1 0 0]
2249

In [12]:
# validação do agrupamento feito pelo KMeans (usando o rand index ajustado)
# compara os rótulos originais dos objetos de treino com os rótulos de grupo formados pelo KMeans
print("Score: ", adjusted_rand_score(y_train, model.labels_))

Score:  0.2488430468697579

In [13]:
previsao = pd.DataFrame()
previsao["Predicted"] = model.labels_

previsao.to_csv('prediction.csv',index=True,index_label="Id")

In [14]:
new = pd.read_csv('prediction.csv')
display(new)
display(new.shape)

        Id  Predicted
0        0          0
1        1          0
2        2          1
3        3          1
4        4          1
5        5          0
6        6          1
7        7          0
8        8          0
9        9          0
10      10          1
11      11          0
12      12          0
13      13          0
14      14          0
15      15          1
16      16          1
17      17          0
18      18          0
19      19          0
20      20          0
21      21          0
22      22          0
23      23          0
24      24          1
25      25          0
26      26          0
27      27          0
28      28          0
29      29          0
...    ...        ...
2219  2219          0
2220  2220          1
2221  2221          0
2222  2222          0
2223  2223          1
2224  2224          0
2225  2225          0
2226  2226          0
2227  2227          0
2228  2228          0
2229  2229          1
2230  2230          0
2231  2231          0
2232  2232          0
2233  2233          0
2234  2234          0
2235  2235          1
2236  2236          1
2237  2237          0
2238  2238          1
2239  2239          0
2240  2240          1
2241  2241          0
2242  2242          0
2243  2243          1
2244  2244          1
2245  2245          0
2246  2246          1
2247  2247          0
2248  2248          0

[2249 rows x 2 columns]

(2249, 2)